.ui-section{
    box-sizing: border-box;
    height: 800px;
    width: 700px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    border-radius: 10px;

    &__title{
        margin-top: 20px;
    }
}